{
    "branches": [
        "main",
        {
            "name": "(fix/**)",
            "prerelease": "fix"
        },
        {
            "name": "(feature/**)",
            "prerelease": "rc"
        }
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md",
                "changelogTitle": "# Semantic Versioning automated Changelog"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "CHANGELOG.md"
                ]
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "CHANGELOG.md",
                        "label": "TEST automated release"
                    }
                ]
            }
        ]
    ]
}
